doctype html
html
    head
        title= title

        block styles
            link(rel='stylesheet', href='/stylesheets/style.css')
            link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')

        block scripts
            script(src='/javascripts/lib/jquery-3.2.1.min.js')
            script(src='/javascripts/lib/jquery-ui.min.js')
            script(src='/javascripts/layout.js')
    
    body
        block content
